__pycache__
.vscode/.*
.vs
TestResults
*~
*.dll
*.RAW
data
ref
error.txt
log.txt
*.wks
*.Oribit*
*.Orbit*
*.csv
*.pdf
.vscode
build
*.c
*.cpp
*.pyd
code
tmptest
.pytest_cache
.coverage
htmlcov
*.sqlite3