__pycache__
.vscode/.*
.vs
TestResults
*~
*.RAW
data
ref
error.txt
log.txt
*.wks
*.Oribit*
*.Orbit*
*.csv
*.pdf
.vscode
build
/dist
*.c
*.cpp
*.pyd
code
tmptest
.pytest_cache
.coverage
htmlcov
*.sqlite3
collect.txt
/build-config.json
.VSCodeCounter
/setting.json