Cython==0.29.30
h5py==3.7.0
matplotlib==3.5.2
numpy==1.23.1
packaging==21.3
pandas==1.4.3
pyinstaller==5.2
PyQt5==5.15.4
pyteomics==4.5.4
pytest==7.1.2
pythonnet==2.5.2
scipy==1.8.1
sortedcontainers==2.4.0
