Cython==0.29.34
h5py==3.8.0
matplotlib==3.7.2
numpy==1.24.3
packaging==23.1
pandas==2.0.1
pydantic==2.1.1
pyinstaller==5.11.0
PyQt6==6.5.1
pyteomics==4.6
pytest==7.3.1
pythonnet==3.0.1
scipy==1.10.1
sortedcontainers==2.4.0
